.box{
    height: 100vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
}

.container{
    margin-left: 6%;
    width: 65%;
    height: 90%;
    background-color: white;
    display: flex;
    
}

.container .img{
    width: 40%;
    height: 100%;
    object-fit:contain;
}

.rightBox{
    width: 60%;
    height: 100%;
}